body {
  margin-top: 200px;
}
h1 {
  position: absolute;
width: 614px;
height: 63px;
left: 79px;
top: 189px;

font-family: 'Omnes';
font-style: normal;
font-weight: 400;
font-size: 70px;
line-height: 112.4%;
/* or 79px */

color: #0D5E84;

text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}
h3 {
  position: absolute;
width: 632px;
height: 62px;
left: 79px;
top: 286px;

font-family: 'Omnes';
font-style: normal;
font-weight: 500;
font-size: 38px;
line-height: 35px;
/* or 92% */
text-align: justify;
letter-spacing: 0.039em;

color: #06476C;
}
.Hero {
  position: absolute;
  width: 1275px;
  height: 276px;
  left: 79px;
  top: 376px;
  background: url(../images/body-image.png);
  border-radius: 20px;
}
